:root {
--primary-color: #545333; /* forestgreen */
--secondary-color: #878672; /*greyish green*/
--accent1-color: #FDFBD4; /* light cream */
--accent2-color: #D9D7B6; /* yellowish cream */
--heading-font: "Rubik", sans-serif;
--body-font: "Playfair Display", sans-serif;
}
